<div class="col-xs-12 col-sm-4">
      <%= link_to cocktail_path(cocktail), class: "card-link" do %>
      <div class="card-container">
      <% if cocktail.photo.attached? %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>');">
        <h2> <%= cocktail.name  %> </h2>
      </div>
      <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url('');">
        <h2> <%= cocktail.name  %> </h2>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
