<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1578404249298-291ee2775e55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <div class="banner-container">
    <h1>Cocktail Recipies</h1>
    <p>Find your favorites and some classics.</p>
  </div>
</div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <%= render "card", cocktail:cocktail %>
      <% end %>
</div>
</div>
