<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to cocktails_path, class: "link-icon" do %>
    <i class="fas fa-cocktail"></i><span class="title-bar">Mister Cocktail</span>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0" action="/cocktails">
      <input name="cocktail-search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="add-cocktail">
      <%= link_to "Add your cocktail", new_cocktail_path, class: "btn btn-outline-secondary" %>
    </div>
  </li>
</ul>
</div>
</div>
